doctype html
html
	head
		meta(charset='utf8')
		title=title
		link(rel="stylesheet", href="https://sindresorhus.com/github-markdown-css/github-markdown.css")
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github.min.css")
		script(src="../highlight.pack.js")
	body
		.markdown-body!=markdown