html {
	padding: 2em;
}
body {
	width: 960px;
	display: block;
	text-align: left;
	margin: 0 auto;
}
.markdown-body {
	width: 700px;
}
.table-of-contents {
	position: fixed;
	margin-left: 710px;
	max-height: 80%;
	width: 250px;
	overflow: auto;
	top: 2em;
	background: #f7f7f7;
	border-radius: 4px;
	padding: 0.5em;
}
.table-of-contents a {
	color: #666;
}
.table-of-contents > ul {
	list-style-type: none;
	font-size: 1.2em;
	display: inline;
	margin: 0;
	padding: 0;
}
.table-of-contents > ul > li {
	display: inline;
}
.table-of-contents > ul > li > ul {
	font-size: 0.8em;
}
.table-of-contents:before {
	content: '目次: ';
}
